{% extends 'base.html.twig' %}

{% block title %}New Tennant{% endblock %}

{% block body %}
    <div class="container">
        <h1>Create new Tennant</h1>

        {{ include('tennant/_form.html.twig') }}

        <a href="{{ path('tennant_index') }}">back to list</a>
    </div>
{% endblock %}
