{% extends 'base.html.twig' %}

{% block title %}Directory listing{% endblock %}

{% block body %}
{% set testLetter = '' %}







    <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                {% for letter in letters %}
                <li>
                    <a href="#">{{ letter }}</a>
                </li>
                {% endfor %}
             </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        {% for tennant in tennants %}
                            <ul class="table">
                                {% if tennant.name|first|upper != testLetter %}

                                    {% set testLetter = tennant.name|first|upper %}
                                    <h1>{{ testLetter }}</h1>
                                {% endif %}
                                <li>{{ tennant.name }} : {{ tennant.number }}</li>
                            </ul>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->




{% endblock %}
